*
  {
    font-family: 'CompHandMedium';
   font-weight: normal;
   font-style: normal;
   font-size: 16pt;
   text-align: center;
}

body{
  background-color: rgb(16, 17, 56);
}
#story{
  background-color: lightgray;
  opacity: 50%;
  align-content: center;
  align-items: center;

}
