body {
  background-color: white;
  background-image: url("../images/1960s-03.png");
}

#center{
  background-color: lightgray;
  align-items: center;
  align-content: center;
  height: 945px;
  width: 450px;
  z-index: 10;
}

.alignleft{
  position: relative;
  float: left;
  align-content: right;
  z-index: 5;

}

.alignright{
  position: relative;
  float: right;
  align-content: left;
  z-index: 5;

}
