body {
  background-color: white;
}

.alignleft{
  position: relative;
  float: right;
  align-content: right;
  z-index: 5;

}

.alignright{
  position: relative;
  float: left;
  align-content: left;
  border-style: solid;
  border-color: white;
  z-index: 5;
}
.aligncenter{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: lightgray;
  align-content: center;
  float: center;
  height: 1080px;
  width: 600px;
  z-index: 10;
}
